.modal {
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}
.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal__content {
    padding: 20px;
    border-radius: 50px;
    background: rgb(220, 240, 255);
    width: 900px;
    height: 1100px;
    transform: scale(0.5);
    transition: 0.4s all;
}

.modal__content.active {
    transform: scale(1);
}

.modal__content h1 {
    font-size: 35px;
    margin: 15px;
    font-family: Monserrat, sans-serif;
}
.modal__content .select-input input {
    width: 850px;
    height: 100px;
    font-size: 35px;
    font-weight: 500;
    padding: 20px;
    border: none;
    transition: background 0.3s ease-in-out 0s;
    box-shadow: rgb(255 255 255) 2px -6px 4px inset, rgb(162 200 216) -4px 2px 4px inset;
    border-radius: 30px;
    background: none;
    margin: 20px 0;
    outline: none;
}

.common-tokens button {
    width: 180px;
    height: 75px;
    font-size: 35px;
    margin: 15px;
    background: none;
    border: none;
}

.common-tokens button:hover {
    background-color: white;
    border-radius: 15px;
    transition: 0.2s;
}

.modal__content .all-wallet {
    width: 860px;
    height: 400px;
    border-top: 2px;
    box-shadow: 6px 2px 6px 2px inset lightgrey;
    margin-top: 40px;
}

.modal__content .link a {
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    text-decoration: none;
    color: black;
    font-family: Monserrat, sans-serif;
}

.modal__content .link:hover {
    color: grey;
    opacity: 0.8;
}
.question {
    margin-left: 15px;
    margin-bottom: -5px;
}

.all-wallet {
    position: relative;
    height: 112px;
    width: 100%;
    overflow: auto;
    will-change: transform;
    direction: ltr;
}

.all-wallet-coin div {
    display: grid;
}
.all-wallet-coin div * {
    background-color: #fff;
    margin: 5px 12px;
}
.all-wallet {
    height: 100%;
    border: 1px solid #c1c1c1;
    overflow-y: scroll;
    background-color: black;
}

.all-wallet-coin .coin-data {
    display: flex;
    align-items: center;
    font-size: 30px;
}

